<section class="bio"> 
  <a class="avatar" href="{{ site.baseurl }}/"><img src="/assets/images/mgonzalez.jpg" ></a>
  <h1>{{ site.name }}</h1>
  <h3>🍍🍍🍍</h3>
  <ul class="social">
    <li><a href="https://github.com/{{ site.github_username }}" class="icon-github" title="github" target="_blank"></a></li>
    <li><a href="https://stackoverflow.com/story/muriel" class="icon-stackoverflow" title="stack-overflow" target="_blank"></a></li>  
    <li><a href="mailto:{{ site.email_encoded }}" class="icon-email" title="email" target="_blank"></a></li>        
  </ul>
</section>
