@import '~bootstrap/scss/bootstrap.scss';
@import "~@fortawesome/fontawesome-svg-core/styles.css";

html, body {
  background-color: #000000;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  padding: 0;
  margin: 0;
}

html {
  //border-top: 3px solid #FF159E;
}

a {
  color: #E2F039;
  &:hover {
    color: #FF159E;
  }
}

.container {
  margin: 0 auto;
  max-width: 45rem;
  padding: 0 1em;
}

.header-container {
  header {
    margin: 40px 0;
    text-align: center;
    h1 {
      font-weight: 800;
      letter-spacing: 1.2px;
      font-size: 1.25em;
      text-transform: uppercase;
    }
    h2 {
      color: #E2F039;
      font-size: 1em;
      font-weight: 600;
      font-style: italic;
      text-transform: uppercase;

    }

    img.logo {
      width: 100px;
      height: auto;
      margin-bottom: 20px;
    }

  }
  nav {
    margin: 20px 0 50px 0;
    ul {
      text-align: center;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
      }
    }
    a {
      display: block;
      margin: 0 20px 0 20px;
      padding: 16px 20px;
      color:#353535;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-style: italic;
      box-shadow: 0.45rem 0.45rem 0 #353535;
      border: 1px solid #353535;

      &.active {
        color: white;
        font-weight: 900;
        box-shadow: 0.45rem 0.45rem 0 #FF159E;
      }
      &:hover {
        color: white;
        font-weight: 900;
        box-shadow: 0.45rem 0.45rem 0 #E2F039;
        border: 1px solid white;
      }
    }
  }
}
a.article-link {
  text-decoration: none;
  &:hover {
    article.post {
      box-shadow: 0.5rem 0.5rem 0 #E2F039;
    }
  }

}
article.post {
  padding: 20px;
  color: #E2F039;
  background: none;
  box-shadow: 0.45rem 0.45rem 0 #FF159E;
  border: 1px solid white;
  margin: 20px auto 40px;
  max-width: 30rem;
}
h2.post-title {
  font-size: 1.25em;
  letter-spacing: 1.2px;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

p.post-date {
  text-align: right;
  margin: 0;
  color: white;
}

.bio {
  text-align: center;
  box-shadow: 0.45rem 0.45rem 0 #FF159E;
  border: 1px solid white;
  padding: 40px;

  p {
    font-weight: 800;
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

}

ul.tags {
  padding: 0;
  margin-bottom: 0;
  li {
    list-style: none;
    display: inline;
    color: #FFFFFF;
    margin-right: 10px;
  }
}

footer {
  text-align: center;
  margin-top: 50px;
  nav {
    a {
      color: white;
      font-size: 2rem;
      padding: 10px;
      margin: 0 20px;

      &:hover {
        color: #FF159E;
      }
    }
  }
  p {
    margin-top: 20px;
  }
}

pre[class*="language-"] {
  background: #212532;
  padding: 2em 2em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.5em;
}

code[class*="language-"] {
  background: none;
  box-shadow: none;
}

:not(pre) > code[class*="language-"] {
  background: #212532;
  color: yellowgreen;
}

// Markdown
hr {
  border-top: solid 1px #999999;
}

mark, .mark {
  background-color: #E2F039;
  color: black;
  padding: 0.5em;
}
