html, body {
  background-color: black;
  color: white;
  font-family: monospace;
}

h1 {

}

article.blogpost {
  padding: 10px;
  color: #E2F039;
  background-color: #1C1E4E;


}

a {
  padding: 10px 15px;
  color: #E2F039;
}
