@import '~bootstrap/scss/bootstrap.scss';
@import "~@fortawesome/fontawesome-svg-core/styles.css";

html, body {
  background-color: #0E1025;
  color: white;
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  margin: 0;
}

html {
  border-top: 3px solid #FF159E;
}

a {
  color: #E2F039;
  &:hover {
    color: #FF159E;
  }
}

.container {
  margin: 0 auto;
  max-width: 45rem;
  padding: 0 1em;
}

header {
  padding-top: 40px;
 h1,h3 {
   text-align: center;
 }
  h1 {
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 0;
  }
  h3 {
    color: #E2F039;
    font-size: 1em;
    font-weight: 400;
  }
  nav {
    margin: 20px 0;
    ul {
      text-align: center;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
      }
    }
    a {
      display: block;
      margin: 0 20px 0 20px;
      padding: 16px 20px;
      color:#AAAAAA;
      text-decoration: none;
      text-transform: uppercase;

      &.active {
        color: white;
        background-color: #FF159E;

      }
    }
  }
}

article.post {
  padding: 20px;
  color: #E2F039;
  background-color: #1C1E4E;
  margin: 20px auto;
  max-width: 30rem;

}
a.post-title {
  font-size: 1.25em;
}

p.post-date {
  text-align: right;
  margin: 0;
  color: white;
}

.bio {
  text-align: center;
  p {

  }
}

ul.tags {
  padding: 0;
  margin-bottom: 0;
  li {
    list-style: none;
    display: inline;
    color: #AAAAAA;
    margin-right: 10px;
    font-size: 1em;
  }
}

footer {
  text-align: center;
  margin-top: 20px;
  nav {
    a {
      color: white;
      font-size: 2rem;
      padding: 10px;
      margin: 0 20px;

      &:hover {
        color: #FF159E;
      }
    }
  }
  p {
    margin-top: 40px;
  }
}

pre[class*="language-"] {
  background: #212532;
  padding: 2em 2em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.5em;
}

code[class*="language-"] {
  background: none;
  box-shadow: none;
}

:not(pre) > code[class*="language-"] {
  background: #212532;
  color: yellowgreen;
}

// Markdown
hr {
  border-top: solid 1px #999999;
}

mark, .mark {
  background-color: #E2F039;
  color: black;
  padding: 0.5em;
}
