@import "normalize.scss";
@import "mixins.scss";
@import "_syntax-highlighting";
//font-family: 'Roboto Slab', serif;
//font-family: 'Raleway', sans-serif;
html,body {
  margin: 0;
  padding: 0;
  position: relative;
  color: #494949;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
}
html {
   position: relative;
    min-height: 100%;
}

body {
  border-top: 5px solid #222;
  margin: 0 0 60px; 
}

h1, h2, h3 {
  font-family: 'Raleway', serif; 
  margin: 1em 0;
}

h2 {
  font-size: 120%;
  margin: 2rem 0 0.5rem 0;
}

h1 > aside, h2 > aside {
  color: #999999;
  font-size: 60%;
  text-transform: lowercase;
}

h1 > aside {
  font-size: 40%;
}

h2 + p {
  margin-top: 0.5em;
}

h2+p, h3+p, h4+p {
    margin-top: 0;
    margin-bottom: 0;
}

p > strong {
  font-family: 'Raleway', serif;
  color: #000000;
  font-weight: bold;
}

ul {
  @extend %unstyled-list;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 1rem;
}

a {
  text-decoration: none;
  color: #000;
  &:hover {
    background-color: #f7f7f7;
    color: #000000;
  }
}

.bio {
  text-align: center;
  padding: 3.5em 0 2em 0;
  
  h1 {
    margin: 0;
    font-size: 1.75em;
    color: #413f3a;  
  }
  h2 {
    margin: 0 0 1em 0;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 90%;
    color: #383838;
  }

  a.avatar {
    display: none;
    img {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}

ul.social {
  margin: 0;
  text-align: center;
  li {
    margin: 0 5px;
    text-align: center;
    font-size: 24px;
    @include transition(0.2s,  linear);
    a {
      color:#999999;
      padding: 5px;
      &:hover {
        color:#147a94; 
        background-color: transparent;
      }

    }
  }
}

.post-list {
  @extend %unstyled-list;
  article {
    border-bottom: 1px solid #EEE;
    text-align: center;
    margin: 0 auto;
    h2 {
      margin: 0;
      text-transform: capitalize;
      padding: 1rem 0;
    }
    a {
      position: relative;
      display: block;

    }
  }
}

::selection {
  background-color:#fefecf;
}

::-moz-selection {
  background-color:#fefecf;    
}

.container, nav.navbar{
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 20px 20px;

  @media (min-width: 768px) {
    padding: 0px 40px 20px 40px;

  }
}


blockquote {
  position: relative;
  padding: 0;
  color: #413f3a;
  font-style: italic;
  line-height: 1.6em;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  margin-left: -5%;
  width: 120%;

  footer {
    position: relative;
    margin-left: 1em;
    &:before {
      content: '—';
      position: absolute;
      left: -1em;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0%;
  }
}
p + footer {
  margin-top: -.5em;
}

.post {
  h1 {
    margin-bottom: 0.5em;

  }
  h2 {
    text-transform: uppercase;
  }
  a {
    border-bottom: 1px solid #000;
  }
}

pre {
  background: #f7f7f7;
  overflow-x: auto;
  padding: 5px 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap; 
  word-wrap: break-word;
  border-left: 4px solid #0088ab;
  overflow: auto;
  font-size: 15px;
}
p .highlighter-rouge { 
  background-color: #f7f7f7;
  color: #000;
  padding: 5px;

}


.navigation {
  margin: 1em 0 1.5em 0;
  position: relative;
  display: block;
  text-align: center;

  a {
    padding: 0.5em;
    position: relative;
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
  &:after {
    content: "";
    display: table;
    clear: both;  
  }
}

.tldr {
  span {
    margin: 0;
    color: #ED9261;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Raleway', serif; 
  }
}

footer.site-footer {
  font-size: 80%;
  text-align: center;
  font-family: 'Roboto Slab', serif; 
}
