---
layout: default
comments: true
---
<nav><span></span><span></span><span></span></nav>
<section class="post">
  <h1>
    <aside>{{ page.date | date: "%b %-d, %Y" }}</aside>
    {{ page.title }}
  </h1>
    
  <article class="post-content">
    {{ content }}
  </article>

</section>

<div class="navigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; Previous Post</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">Next Post &raquo;</a>
  {% endif %}
</div>

<div id="disqus_thread"></div>
<script>
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//murielg.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>                                
